22 GamePlay StartOver:

 **done**  Create a new Scene
   
 **done**  There is a Hero, that can attack once every 0.6s
   
 **done**  It has 5 Attack Damage And 100 Life
   
 **done**  An enemy spawns every time, when there is no enemy left
   
  **done** He attacks every 1.2s, He deals 3 Attack Damage, And has 40 Life
   
  **done** When he is killed, he grants the Hero 7 Gold
   

   The Hero can upgrade his Health and MaxHealth (together) by 10% for 50 Gold. Repeatable.
   
   The Hero can upgrade his Attack Damage by 10% for 50 Gold. Repeatable.
   
   
   Save the currently attacked enemy (with health and attack cool down)
   
   Save the Hero’s current state (upgrades, attack cool down and health)
   
   
 **done** Hero and Unit attack automatically on Cooldown all the time
   
   
   The player can also tap the Enemy to perform an attach that deals 3
   Damage
   
   Visualize The hero’s and the enemy’s health
   
   Spawn a Floating Text every time the hero or the enemy deals damage
   
   
   Visualize the Gold
   
   
   Visualize the Hero’s Attack Damage and an Upgrade Button
   
   
   Visualize the Hero’s Health and MaxHealth and an Upgrade Button
